body {
    background-color: white;
    color: black;
    font-family: "Poppins", sans-serif;
    margin: 0px;
}

.navbar{
    width: 100%;
    disply: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid #000;
    
}

.navbar h1 {
    magin: 0px
    padding: 1rem;
}

.heading-left {
    border-right: 2px solid #000;
    height: auto;
    magin: 0px;
    padding-right: 20px;

}

..resume-heading {
    border-left: 2px solid #000;
    padding-left: 20px;
}
.main-body {
display: flex;
justify-content: space-between;
align-items: flex-start;
}

.left-div {
    padding: 1rem;
}

.right-img {
height: 100%;
width: 50%;
object-fit: cover;
}


   
   